<%- include('./partials/header')-%> 
<div class="create-blog">
    <h1 class="create-title">Create A Blog</h1>
    <form id="form" action="/createblog" method="POST">
        <div class="inputs">
            <label>Title</label>
            <input  name= 'title' id="title" >
            <div class="title"></div>
        </div>
        <div class="inputs">
            <label>Description</label>
            <textarea name='description' cols="30" rows="5" type="text" id="description"></textarea>
            <div class="description"></div>
        </div>
        <div class="inputs">
            <label>Body</label>
            <textarea name="body" id="body" cols="30" rows="10"></textarea>
            <div class="body"></div>
        </div>
        <button type="submit"  id="submit">Create Blog</button>
    </form>
</div>
    <script src="/js/createblog.js"></script>
</body>
</html>