<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Blog</title>
</head>
<body>
    <div>
        <% if(blogs.length > 0){ %>
            <% blogs.forEach(blog => { %>
                <h3><%= blog.title %></h3>
                <span><%= blog.author %></span>
                <h4><%= blog.subject %></h4>
                <p><%= blog.body %></p>
            <% }) %>
        <% } else { %>
            <p>There are no blogs at the moment</p>
        <%}%>
    </div>
</body>
</html>