<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in</title>
</head>
<body>
    <form id="form">
        <label>Email</label>
        <input type="email" id="email">
        <label>Password</label>
        <input type="password" id="pass">
        <button type="submit" id="submit">Log in</button>
    </form>
    <!-- <script>
        const email = document.getElementById('email');
        const pass = document.getElementById('pass');
        const form = document.getElementById('form')

        form.addEventListener('submit', e => {
            e.preventDefault()
            console.log(email.value,pass.value)
        })
    </script> -->
</body>
</html>